<br/>
<span style = " position: absolute;
  position: absolute;
  bottom: 0%; right: 50%;
  transform: translate(50%,-50%);
color: #707070;
font-size: 15px;
font-weigth: bold;"
>Copyrigth 2020 Luby Software</span>
