@include('partials/nav')

<strong>Come play with us again</strong>
<p>Hi {{name}}, we've noticed that it's been a while since you've created a bet.</p>
<p>Don't forget that your opportunity to get rich is right there, come play again and increase your chances of winning</p>
<p>Access the link below to return to our website, we'll wait for you there 😉</p>
<a href = "{{link}}">Create new password</a>
@include('partials/footer')
