@include('partials.nav')

<strong>Recover password</strong>

<p>Hi {{name}}, We received a password recovery request to your email: {{email}}.</p>
<p>If you were not the author of this request, it would be interesting to change your account password</p>
<p>To continue with password recovery use the token: {{token}} or click on the link below</p>

@include('partials.footer')
