
@include('partials/nav')
<h3>Welcome to the best betting site {{name}}!</h3>
<p>We are very happy to have you with us.</p>
<p>Here you can make various bets, and who knows, maybe get out of here a millionaire 🤑.</p>
<a href = "{{link}}">Visit our website now and remember: your lucky day could be today.</a>
@include('partials/footer')
